:root{
  --p:.5cm;
  --marginH:-670px;
  --marginV:70px;
}

body{
  display: flex;
  align-items: center;
  overflow-X: hidden;
  box-shadow:inset 0 0 0 white;
  min-height: 100vh;
}

main{
  padding-top:var(--marginV);
  min-width: 1340px;
  /* width:100%; */
  margin:0 auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.right, .left{
  position: static;
  width: 50%;
  height: 100vh;
}
.right{
  transform: scale(-1, 1);
}
.left{
  transform: scale(1);
}

main div:not(.left):not(.right){
  /* animation: scale 5s ease-in calc(var(--nbr) * .1s) infinite alternate-reverse; */
  /* animation: blink 6s ease-in calc(var(--nbr) * .2s)  ; */
}
.inview{
  background: red;
  animation: blink 6s ease-in calc(var(--nbr) * .2s);
}

main div.show{
  display: block!important;
}

@keyframes scale{
  0% {
    transform: scale(1); 
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes blink{
  90% {opacity: 1;}
  38% {border:inherit;}
  35% {border:1px solid black;}
  38% {border:inherit;}

  95% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes col{
  0% {
    filter: hue-rotate(200deg);
  }
  100% {
    filter: hue-rotate(0);
  }
}
@keyframes bg{
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 110%;
  }
}
