:root{
  --col:lightgray;
}
body{
  background: #5392cc;
  position: relative;
  font-family:equateur,serif;
  font-size: 25px;
  line-height: 1.3em;
}
body:before{
  content:"";
  position: absolute;
  pointer-events: none;
  width:100%;
  z-index: 1;
  height: 100vh;
  box-shadow: inset 0px 0px 100px #535d6c;
}
.preview{opacity: 0;}
.map{
  position: relative;
  background:url(../img/preview.png) no-repeat;
  background-size:100%;
  background-position: top left;
  width:1455px;
  height:2101px;
}
.map-bmp{display: none;}
.clouds, .map-vectors, .map-bmp{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
}
.clouds{
  filter: blur(10px);
  pointer-events: none;
  z-index: 2;
  animation: clouds 50s linear 0s infinite;
}
.chapters{
  width:100%;
  pointer-events: none;
}
.chapter{
  width: 1340px;
  display: none;
  position: absolute;
  top:10vh;
  left: calc((100% - 1340px) / 2);
  align-items: center;
  justify-content: center;
}
.chapter.text{
  text-align: center;
  font-size: max(2vw,50px);
  color:#333;
  flex-direction:column;
  height:80vh; 
  padding:50px;
}
.chapter.text p{
  display: inline;
	padding: .4em .5em;
  background-color: white;
  border-radius:.3em;
  box-decoration-break: clone;
  line-height: 2.2;
}
.chapter.text img{
  display: inline;
  padding:0em .1em;
  vertical-align: middle;
  filter: drop-shadow(0px -5px 0px white) drop-shadow(0px 5px 0px white) drop-shadow(5px 0px 0px white) drop-shadow(-5px 0px 0px white)
}
.logo{
  top:5vh;
  height: 90vh;
  object-fit: contain;
}
 .creature div div{
  transition: all 5s ease-in-out;
}
.creature.active, .logo.active{
  display: flex;
}
.creature.active div{
  animation: blink 6s ease-in calc(var(--nbr) * .5s);
}
.text.active{
  display: flex;
}
.creature.active div{
  animation: blink 10s ease-in calc(var(--nbr) * .5s);  
}
.creature.blink2.active div div{
  animation-name: blink2;
}
.creature.blink3.active div div{
  animation-name: blink3;
}
.creature.blink4.active div div{
  animation-name: blink4;
}
.creature.blink5.active div div{
  animation-name: blink5;
}
.creature.blink6.active div div{
  animation-name: blink6;
}
.right, .left{
  position: static;
  width: 50%;
  height: 100vh;
}

.right{transform: scale(-1, 1);}
.left{transform: scale(1);}

aside, .instructions, .info{
  z-index:1000;
}
aside {
  position: fixed;
  bottom:0;
  right: 5px;
  display: flex;
  flex-direction: column;
}
.btn{
  padding:10px;
  width:80px;
  height:80px;
  background: var(--col);
  color:#333;
  border-radius:100%;
  margin-bottom:5px;
  display: flex;
  border:3px solid black;
  align-items: center;
  justify-content: center;
  text-align:center;
  font-size: 50px;
  cursor: crosshair;
}
.btn:hover{
  background: Gold;
}
.btn:active{
  background:yellow;
}
[data-state="dissect"] .dissect-btn,
[data-state="info"] .info-btn{
  background:gold;
}

p{
  margin-bottom:.7em;
}
[data-state="info"] .info{display:block;}
[data-state="dissect"] .dissect{display:block;}
body[data-state="dissect"]:before{pointer-events:none;}

.info, .instructions{
  background:var(--col);
  border:3px solid black;
  color:black;
  border-radius:0 20px 20px 0;
}
.info{
  display:none;
  position: absolute;
  left:0%; top:0;
  width: clamp(300px, 50%, 1300px);
  height:100vh;
  overflow: scroll;
  padding:10px;
}
.info p {
  text-indent:.7em;
}
.info img{
  width:90%;
  display: block;
  margin:0 auto .5em auto;
}
.info .images{
  position: relative;
  display: flex;
}

.buy{
  text-align:center;
  display:block;
  margin:.5em auto 1em auto;
  font-family:free sans, arial, helvetica, sans-serif;
  font-size:.8em;
  font-weight:bold;
  transition:.2s all ease-out;
}
.buy:hover{
  letter-spacing:.05em;
}
[data-state="dissect"] .clouds,
[data-state="dissect"] .map,
[data-state="dissect"] .text,
[data-state="dissect"] .logo,
[data-state="dissect"] .next-btn{
  display:none;
}
[data-state="dissect"] .chapters{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}
[data-state="dissect"] .creature{
  display:flex;
  animation:none;
}
[data-state="dissect"] .creature div{
  animation:none;
}
.dissect{
  /* display: none; */
  position: relative;
  top:-100vh;
  z-index: 700;
  width:20%;
}
[data-state="dissect"] .dissect{
  top:0vh;
}
/* .dissect .instructions{
  display: block;
} */
.instructions p{
  padding:10px;
  margin:0;
}
.dissect .instructions hr{
  border-top:3px solid black;
}
.dissect .instructions input{
  background:white;
  text-align:center;
  border:2px solid black;
  border-radius:10px;
  margin:0 10px 10px 10px;
  width:calc(100% - 20px);
}
.dissect .instructions input:focus{
  background:Khaki;
}
.ghost{
  text-align:center;
  animation: ghost 1s ease-in forwards;
  position:absolute;
  bottom:.5em;
  left:0;
  width:100%;
}

a{color:inherit;}
@keyframes ghost{
  0%   {bottom:.5em; opacity:1;}
  100% {bottom:4em; opacity:0; transform: scale(3);}
}
@keyframes anim{
  0%   {top:calc(-100vh * 8.5);}
  100% {top:0;}
}
@keyframes clouds{
  0% {opacity:0; left:-50vw;}
  50%{opacity: 1; }
  100%{opacity: 0; left:50vw;}
}
@keyframes blink{
  35% {border:0px solid black;}
  95% {border-color:transparent;}
}
@keyframes blink2{
  45% {border-top-left-radius:20%; border-color:transparent;}
  85% {border-top-width:0px; border-bottom-right-radius:40%; border-bottom-width:0px; border-color:black;}
}
@keyframes blink3{
  25% {border-radius: 80%;}
  65% {border-top-width:0px;}
  85% { border-bottom-width:0px;}
}
@keyframes blink4{
  25% {border-color:purple; border-radius: 10%;}
  60% {border-bottom-width:0px;}
  95% { border-top-width:0px;}
}
@keyframes blink5{
  25% {border-top-left-radius:30%;}
  75% {border-bottom-width: 3px; border-bottom-left-radius:80px; padding:20px;}
}
@keyframes blink6{
  25% {border-top-left-radius:65%; border-bottom-left-radius:25%;}
  75% {border-color: red;}
}
@media only screen and (max-width: 1000px) {
  .info, .dissect{
    width: 100%;
    max-height:60vh;
  }
  .instructions,
  .info{
    font-size: 14px;
    line-height: 1.2em;
    border-radius: 0;
  }
  .chapter.creature{
    transform: scale(.5);
    top:0vh;
  }
  .chapter.text{
    font-size: 4vh;
    left:0;
    width:100%;
  }
  .chapter.text img{
    max-width:4em;
  }
  .btn{
    width:40px;
    height:40px;
  }
}

@media only screen and (max-width: 600px) {
  .chapter.creature{
    transform: scale(.3);
  }
  .chapter.text{
    font-size: 3vh;
  }
}