@font-face {
    font-family: 'Equateur';
    src: url('Equateur-Regular.woff2') format('woff2'),
        url('Equateur-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

